doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")
        
    include ./styles/base_styles.pug
    include ./styles/index_styles.pug

    body

    div.mainContainer
        h1= message
        h2 Elija una opción:
        ul.menu
            li
                button
                    a(href=paginaRegistroTurno) Registrar Turno
            li
                button
                    a(href=paginaListarPacientes) Ver Pacientes
            li 
                button
                    a(href=paginaListarTurnos) Ver Turnos
        
        footer
            p © #{new Date().getFullYear()} Programacion III