doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")

    //- Estilos
    include ./styles/base_styles.pug
    include ./styles/pacientes_styles.pug 

    body

    div.mainContainer
        h1= message
        h2 Pacientes actuales:

        //- Lista de pacientes, muestra una tarjeta por cada paciente
        if pacientes.length === 0
            p No hay pacientes registrados.
        else
        div.listaPacientes
            each paciente in pacientes 
                div.pacienteCard
                    tr
                        td ID: #{paciente.id}
                        br
                        td Nombre: #{paciente.nombre}
                        br
                        td Apellido: #{paciente.apellido}
                        br
                        td Edad: #{paciente.edad}
                        br
                        td Email: #{paciente.email}
                        br
                        td
                            button
                                a(href=`${ruta_modificar}${paciente.id}`) Editar
                            button 
                                a(href=`${ruta_eliminar}${paciente.id}`) Eliminar

                 

        footer
            p © #{new Date().getFullYear()} Programacion III