doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")
        
    include ./styles/pacientes_styles.pug

    body

    div.mainContainer
        h1= message
        h2 Pacientes actuales:

        div.listaPacientes
            each paciente in pacientes
                div.pacienteCard
                    tr
                        td ID: #{paciente.id}
                        br
                        td Nombre: #{paciente.nombre}
                        br
                        td Apellido: #{paciente.apellido}
                        br
                        td Edad: #{paciente.edad}
                        br
                        td Email: #{paciente.email}
                 

        footer
            p © #{new Date().getFullYear()} Programacion III